
<html lang="en">
<head>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1.png') }}">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    
</head>
<body>

    {% for message in get_flashed_messages() %}
        <div class= "alert">{{ messahe}}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" height="40" width="40" src="{{ url_for('static', filename='images/pig.jpg') }}">
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <img alt="Walking Totoro" class="totoro" height="80" width="80" src="{{ url_for('static', filename='images/2.gif') }}" title="to~to~ro~">
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>